# Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

# Authentication token
TOKEN_LENGTH=
TOKEN_DURATION=

# Recipes
LATEST_RECIPES_COUNT=

# Image folder
RECIPE_IMAGE_FOLDER=
